* {
    
/* font-family: 'Montserrat', sans-serif; */
    
}
container{
    display:flex;
}

.child-container{
    background: rgba(224, 191, 205, 0.4);
    border-radius: 20px;border-radius: 20px;
    padding: 20px;
    margin-left: 15px;
    height:350px;
    width: 900px;
    overflow: auto;
}
.new-child{
    padding: 25px;
    font-size: large;
}
.buttons{
    display: inline-block;
    
  
}
h2{
    margin-top: 15px;
    margin-left: 30px;
    color:white;
    padding: 10px;
}
h4{
    color:white;
    align-items: center;
    text-align: center;
    display: inline;
    padding: 50px;
}
input {
    margin: 30px;
    width: 306px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 20px;
}
.container_button{
    position: absolute;
    width: 179.8px;
    height: 47px;
    left: 100px;
    top: 200px;
    border-radius: 20px;
}

menuList {
    display: "flex";
    align-items: "center";
    text-align: "center";
}
img{
    display: inline-flex;
    padding: 25px;
    cursor: pointer;

}
