

.main p{
     color: white;
     margin-top: 4%;
     font-size: 20px;
     margin-left: 4%;
     margin-right: 4%;
}

.main p h1{
     color: white;
}

.main .InfoMainButton{
     margin-right: 5%;
     margin-top: 35%;
     
}