

.main {
     height: 500px;
     width: 1300px;
     display: flex; 
     /*padding-top: 33%;*/
     margin-bottom: 5%;
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 3%;
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     border-radius: 20px;
     border:1px solid rgba(255, 255, 255, 0.18);
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.main .col {
     /* 
     height: 500px;
     width: 300px;  
     */
     display: flex;
     /*padding-top: 33%;*/
     margin-bottom: 5%;
     width: auto;
     margin-left: none;
     margin-right: 7%;
     margin-top: none;   
     justify-content: space-between;
}

.main h5 {
     margin-top: 2%;
     margin-left: 4%;
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
}


.main .col .one form input {
     /* border-bottom: solid 3px #0075FF; */
     /* border-radius: 10px; kavis*/ 
     outline: none;
     background: none;
     text-align: left;
     outline: none;
     padding: 30px;
     margin: 5px;
     color: white;
     border-color: rgba(255, 0, 0, 0) rgba(0, 255, 0, 0) #0075FF rgba(255, 255, 0, 0);
}

.main .col .one {
     margin-top: 15%;
}

.main .col .two form input {
     /* border-bottom: solid 3px #0075FF; */
     /* border-radius: 10px; kavis*/ 
     outline: none;
     background: none;
     text-align: left;
     outline: none;
     padding: 30px;
     margin: 5px;
     color: white;
     border-color: rgba(255, 0, 0, 0) rgba(0, 255, 0, 0) #0075FF rgba(255, 255, 0, 0);
}

.main .col .two {
     margin-top: 15%;
     margin-left: 30%;
}

.col .two .button {
     margin-top: 50px;
     margin-left: 230px;
     display: inline-block;
     width: fit-content;
     padding: 7px 40px;
     background: #0075FF;
     border: none;
     color: white;
     font-size: 15px;
     text-decoration: none;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     transition: 0.5s ease-in-out;
     
     box-shadow: 0 0 100px blue; 
     /* margin-top: 50px;
     margin-left: 230px;
     display: inline-block;
     width: fit-content;
     padding:  12px 60px;
     background: #0075FF;
     border: none;
     border-color: white;
     color: white;
     font-size: 15px;
     text-decoration: none;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     transition: 0.5s ease-in-out;
     box-shadow: 0 0 100px blue; */
}

.main .col .two .button:hover { 
     background-color: blue;
     transform: translateY(-7px);
}
